@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('//fonts.googleapis.com/css?family=Cookie');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body.fixed {
    height: 100%;
    overflow: hidden;
}

.page-content {
    margin-top: 74px;
}

a {
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
    &:active {
        text-decoration: none;
    }
}
.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.fa-spinner {
    -webkit-animation:spin 1.5s linear infinite;
    -moz-animation:spin 1.5s linear infinite;
    animation:spin 1.5s linear infinite;
    font-size: 25px;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
@media (min-width : 320px) and (max-width : 768px) {
    .page-content {
        margin-top: 53px;
    } 
}